# uv settings
.venv/
.python-version
.vscode
pyproject.toml
uv.lock

# Temporary files
__pycache__/
*.py[cod]
*$py.class
.DS_Store
.ipynb_checkpoints/
materials/

# Data files (too large for git)
project2/data/*.csv
project2/data/*.parquet

# Secrets
project2/secrets/

# Environment variables
.env
project2/.env